NEXT_PUBLIC_SUPABASE_URL=https://srxgnxhjmqfdbhibtsdg.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_blsKWSOp7e6wTnP8Vwh-ag_b1YtLpGM
ADMIN_DEMO_USER=adminsv
ADMIN_DEMO_PASSWORD=SantaAdmin2026
ADMIN_SESSION_SECRET=cambia-esta-cadena-por-una-muy-larga-y-aleatoria

SUPABASE_SERVICE_ROLE_KEY=cambia-esta-cadena-por-una-muy-larga-y-aleatoria
APP_SESSION_SECRET=Manager1
SUPABASE_PHOTOS_BUCKET=photos